<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="<%= locale === 'zh' ? 'XploitSPY 是一款安卓监控工具，支持监控所有安卓设备。监控 WhatsApp 聊天、通话录音、GPS 位置、联系人、通话记录、文件浏览器等，无需 root。' : 'XploitSPY is an Android Spy RAT app which can monitor all android devices. Monitor WhatsApp chats, Call recordings, GPS locations, Contacts, Call Logs, File Explorer & more without root.' %>" name="description">
    <title>XploitSPY Pro</title>
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="stylesheet" href="/css/snackbar.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
	<link href="/favicon.png" rel="icon">
	<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/snackbar.min.js"></script>
    <script src="/js/main.js"></script>
</head>
